.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }

 
  .form-row > input {
    line-height: 40px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
  }


  .form-row > a {
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #3C54F2;
  }

