body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
}


main {
    display: inline-block;
    width: 100%;
    
}

.left-column {
    display: inline-block;
    position: absolute;
    width: 30%;
    float: left;
    top: 50px;
    left: 150px;
    bottom: 50px;
    right: 50px;
}

.travel {
    font-size: 40px;
    margin-bottom: 35px;
    margin-top: 20px;
}

.back {
    font-size: 20px;
    font-weight: 500;
    margin-top: 55px;
    margin-bottom: 35px;
    color: grey;
}



.left-column > h1 {
    font-size: 25px;
    margin-top: 75px;
    color: #3C54F2;
}
.right-column {
    display: flex;
    width: 60%;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    float: right;
}

.socials{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    color: grey;
}

.socials > a {
    color: #red;
    text-decoration: none;
    margin-left: 50px;
    color: #3C54F2;
    font-weight: bold;
}

.forgot > a{
    color:grey;
    text-decoration: none;
    margin-left: 400px;
    }
